services:
  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8080:80/tcp" # Pi-hole Admin Interface
    environment:
      - TZ=Europe/Berlin
      - WEBPASSWORD=${PIHOLE_PASSWORD}
    volumes:
      - ./etc-pihole:/etc/pihole
      - ./etc-dnsmasq.d:/etc/dnsmasq.d
    restart: unless-stopped

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086"
    volumes:
      - ./influxdb:/var/lib/influxdb2
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana:/var/lib/grafana
    restart: unless-stopped

  fritz-collector:
      build: ./fritz-collector
      container_name: fritz-collector
      restart: unless-stopped
      network_mode: host
      environment:
        - INFLUX_TOKEN=${INFLUX_TOKEN}
        - INFLUX_BUCKET=${INFLUX_BUCKET}
        - INFLUX_ORG=${INFLUX_ORG}
      depends_on:
        - influxdb
